@font-face {
	font-family: Special Elite;
	src: local("Special Elite"), local("SpecialElite-Regular"), url(http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm8OV-75E7mII8OPOWd5roDg.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm_n8qdNnd5eCmWXua5W-n7c.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
