@font-face {
	font-family: Bitter;
	src: local("Bitter-Regular"), url(http://fonts.gstatic.com/s/bitter/v7/s9gJB935qk_YG8d-lnTdvA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bitter;
	src: local("Bitter-Bold"), url(http://fonts.gstatic.com/s/bitter/v7/JGVZEP92dXgoQBG1CnQcfD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Droid Sans;
	src: local("Droid Sans"), local("DroidSans"), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Droid Sans;
	src: local("Droid Sans Bold"), local("DroidSans-Bold"), url(http://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
